@{
    ViewData["Title"] = "Cadastrar Estabelecimento";
}

<h1>Cadastrar Estabelecimento</h1>
<p>Utilize o formulário para Cadastrar um estabelecimento</p>

<form action="/Estabelecimento/Adicionar" method="POST">
    <label for="Id">ID</label>
    <input type="number" id="Id" name="Id">

    <label for="Nome">Nome</label>
    <input type="text" id="Nome" name="Nome">

    <label for="Piso">Piso</label>
    <select name="Piso" id="Piso">
        <option value="Piso 1">Piso 1</option>
        <option value="Piso 2">Piso 2</option>
        <option value="Piso 3">Piso 3</option>
    </select>

    <label for="Descricao">Descrição</label>
    <textarea name="Descricao" id="Descricao"></textarea>

    <label for="LojaKiosque">Loja / Kiosque</label>
    <select name="LojaKiosque" id="LojaKiosque">
        <option value="Loja">Loja</option>
        <option value="Kiosque">Kiosque</option>
    </select>

    <label for="Email">Email</label>
    <input type="email" id="Email" name="Email">

    <input class="submit" type="submit" value="Adicionar">
</form>